<%= form_with(model: hours_event, local: true) do |form| %>
  <% if hours_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hours_event.errors.count, "error") %> prohibited this hours_event from being saved:</h2>

      <ul>
      <% hours_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
    <form class="form-inline">
      <div class="form-group">
        <%= form.text_field :hours_worked, id: :hours_event_hours_worked, class: "form-control form-control-lg mb-3", placeholder: "Hours Worked" %>
        <%= form.date_field :hours_worked_date, id: :hours_event_hours_worked_date, class: "form-control form-control-lg" %>
      </div>
    </form>


    <div class="btn-group">
      <%= form.submit "Add Hours", class: "btn btn-primary btn-lg" %>
      <%= link_to "Cancel", hours_events_path, class: "btn btn-danger btn-lg", style: "color:white" %>
    </div>
</div>
<% end %>
