<p id="notice"><%= notice %></p>

<h1>Hours Events</h1>

<table>
  <thead>
    <tr>
      <th>Hours worked</th>
      <th>Hours worked date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_events.each do |hours_event| %>
      <tr>
        <td><%= hours_event.hours_worked %></td>
        <td><%= hours_event.hours_worked_date %></td>
        <td><%= link_to 'Show', hours_event %></td>
        <td><%= link_to 'Edit', edit_hours_event_path(hours_event) %></td>
        <td><%= link_to 'Destroy', hours_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hours Event', new_hours_event_path %>
