<div class="jumbotron">
  <h1 class="h1">
    Hours & Benefits
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm float-right" %>
  </h1>
  <p class="font-italic">
    <%= current_user.email %>
  </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-center">
        <h3 class="card-header">
          <%= link_to "Hours Worked", hours_events_path %>
        </h3>
        <div class="card-body">
          <p>
            Week:
            <span class="btn btn-outline-secondary btn-sm">
              <%= @hours_this_week %>
            </span>
          </p>
          <p>
            Yesterday:
            <span class="btn btn-outline-secondary btn-sm">
              <%= @hours_yesterday %>
            </span>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Add Hours", new_hours_event_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <h3 class="card-header">
          <%= link_to "Sick Hours", sick_hours_events_path %>
        </h3>
        <div class="card-body">
          <p>
            Available:
            <span class="btn btn-outline-secondary btn-sm">
              <%= @available_sick_hours %>
            </span>
          </p>
          <p>
            Used This Year:
            <span class="btn btn-outline-secondary btn-sm">
              <%= @sick_hours_used_this_year %>
            </span>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Use Hours", new_sick_hours_event_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <h3 class="card-header">
          <%= link_to "Vacation Hours", vacation_hours_events_path %>
        </h3>
        <div class="card-body">
          <p>
            Available:
            <span class="btn btn-outline-secondary btn-sm">
              <%= @available_vacation_hours %>
            </span>
          </p>
          <p>
            Used This Year:
            <span class="btn btn-outline-secondary btn-sm">
              <%= @vacation_hours_used_this_year %>
            </span>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Use Hours", new_vacation_hours_event_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>