<p id="notice"><%= notice %></p>

<h1>Vacation Hours Logs</h1>

<table>
  <thead>
    <tr>
      <th>Vacation hours entry</th>
      <th>Date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacation_hours_logs.each do |vacation_hours_log| %>
      <tr>
        <td><%= vacation_hours_log.vacation_hours_entry %></td>
        <td><%= vacation_hours_log.date %></td>
        <td><%= vacation_hours_log.user %></td>
        <td><%= link_to 'Show', vacation_hours_log %></td>
        <td><%= link_to 'Edit', edit_vacation_hours_log_path(vacation_hours_log) %></td>
        <td><%= link_to 'Destroy', vacation_hours_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacation Hours Log', new_vacation_hours_log_path %>
