<p id="notice"><%= notice %></p>

<p>
  <strong>Vacation hours entry:</strong>
  <%= @vacation_hours_log.vacation_hours_entry %>
</p>

<p>
  <strong>Date:</strong>
  <%= @vacation_hours_log.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @vacation_hours_log.user %>
</p>

<%= link_to 'Edit', edit_vacation_hours_log_path(@vacation_hours_log) %> |
<%= link_to 'Back', vacation_hours_logs_path %>
