<%= form_with(model: hours_log, local: true) do |form| %>
  <% if hours_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hours_log.errors.count, "error") %> prohibited this hours_log from being saved:</h2>

      <ul>
      <% hours_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hours_worked %>
    <%= form.text_field :hours_worked, id: :hours_log_hours_worked %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :hours_log_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :hours_log_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
