<p id="notice"><%= notice %></p>

<h1>Hours Logs</h1>

<table>
  <thead>
    <tr>
      <th>Hours worked</th>
      <th>Date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_logs.each do |hours_log| %>
      <tr>
        <td><%= hours_log.hours_worked %></td>
        <td><%= hours_log.date %></td>
        <td><%= hours_log.user %></td>
        <td><%= link_to 'Show', hours_log %></td>
        <td><%= link_to 'Edit', edit_hours_log_path(hours_log) %></td>
        <td><%= link_to 'Destroy', hours_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hours Log', new_hours_log_path %>
