<p id="notice"><%= notice %></p>

<p>
  <strong>Hours worked:</strong>
  <%= @hours_log.hours_worked %>
</p>

<p>
  <strong>Date:</strong>
  <%= @hours_log.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @hours_log.user %>
</p>

<%= link_to 'Edit', edit_hours_log_path(@hours_log) %> |
<%= link_to 'Back', hours_logs_path %>
