<%= form_with(model: sick_hours_log, local: true) do |form| %>
  <% if sick_hours_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sick_hours_log.errors.count, "error") %> prohibited this sick_hours_log from being saved:</h2>

      <ul>
      <% sick_hours_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sick_hours_entry %>
    <%= form.text_field :sick_hours_entry, id: :sick_hours_log_sick_hours_entry %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :sick_hours_log_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
