<%= form_with(model: sick_hours_event, local: true) do |form| %>
  <% if sick_hours_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sick_hours_event.errors.count, "error") %> prohibited this sick_hours_event from being saved:</h2>

      <ul>
      <% sick_hours_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sick_hours_used %>
    <%= form.text_field :sick_hours_used, id: :sick_hours_event_sick_hours_used %>
  </div>

  <div class="field">
    <%= form.label :sick_hours_gained %>
    <%= form.text_field :sick_hours_gained, id: :sick_hours_event_sick_hours_gained %>
  </div>

  <div class="field">
    <%= form.label :sick_hours_adj_date %>
    <%= form.date_select :sick_hours_adj_date, id: :sick_hours_event_sick_hours_adj_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
