<%= form_with(model: @sick_hours_event, local: true) do |form| %>

<% if @sick_hours_event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sick_hours_event.errors.count, "error") %> prohibited this sick_hours_event from being saved:</h2>

    <ul>
    <% @sick_hours_event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group form-group-sm">
    <%= form.text_field :sick_hours_gained,
        id: :sick_hours_event_sick_hours_gained,
        class: "form-control form-control-sm",
        placeholder: "Hours Gained" %>

    <%= form.hidden_field :sick_hours_used, id: :sick_hours_event_sick_hours_used, value: 0 %>

    <%= form.date_field :sick_hours_adj_date,
        id: :sick_hours_event_sick_hours_adj_date,
        class: "form-control form-control-sm" %>
</div>

<div class="btn-group">
  <%= form.submit "Add Sick Hours", class: "btn btn-primary btn-sm" %>
  <%= link_to "Cancel", sick_hours_events_path, class: "btn btn-danger btn-sm" %>
</div>
<% end %>
