<div class="jumbotron">
  <div class="btn-toolbar justify-content-between">
    <h1>Sick Time</h1>
    <div class="btn-group">
      <%= link_to 'Home', dashboard_index_url, class: "btn btn-secondary my-auto", style: "color:white" %>
      <%= link_to 'Use', new_sick_hours_event_path, class: "btn btn-primary my-auto", style: "color:white" %>
      <%= link_to 'Gain', sick_hours_events_gain_path, class: "btn btn-warning my-auto", style: "color:gray" %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr class="h5">
        <th>Date</th>
        <th>Used</th>
        <th>Gained</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @sick_hours_events.order(sick_hours_adj_date: :desc).each do |sick_hours_event| %>
        <tr>
          <td><%= sick_hours_event.sick_hours_adj_date.strftime("%m/%d/%Y") %></td>
          <td><%= sick_hours_event.sick_hours_used %></td>
          <td><%= sick_hours_event.sick_hours_gained %></td>
          <td>
            <%= link_to 'Delete', sick_hours_event,
                method: :delete, data: { confirm: 'Are you sure?' },
                class: "btn btn-danger btn-sm float-right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

