<p id="notice"><%= notice %></p>

<h1>Sick Hours Events</h1>

<table>
  <thead>
    <tr>
      <th>Sick hours used</th>
      <th>Sick hours gained</th>
      <th>Sick hours adj date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sick_hours_events.each do |sick_hours_event| %>
      <tr>
        <td><%= sick_hours_event.sick_hours_used %></td>
        <td><%= sick_hours_event.sick_hours_gained %></td>
        <td><%= sick_hours_event.sick_hours_adj_date %></td>
        <td><%= link_to 'Show', sick_hours_event %></td>
        <td><%= link_to 'Edit', edit_sick_hours_event_path(sick_hours_event) %></td>
        <td><%= link_to 'Destroy', sick_hours_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sick Hours Event', new_sick_hours_event_path %>
