<div class="jumbotron">
  <div class="btn-group float-right">
    <%= link_to 'New Hours Event', new_sick_hours_event_path, class: "btn btn-primary btn-lg" %>
    <%= link_to 'Manually Add Hours', sick_hours_events_gain_path, class: "btn btn-warning btn-lg" %>
  </div>
  <h1>Sick Time</h1>
</div>

<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr class="h2">
        <th>Date</th>
        <th>Hours Used</th>
        <th>Hours Gained</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @sick_hours_events.order(sick_hours_adj_date: :desc).each do |sick_hours_event| %>
        <tr>
          <td class="h4"><%= sick_hours_event.sick_hours_adj_date.strftime("%m/%d/%Y") %></td>
          <td class="h4"><%= sick_hours_event.sick_hours_used %></td>
          <td class="h4"><%= sick_hours_event.sick_hours_gained %></td>
          <td>
            <%= link_to 'Edit', edit_sick_hours_event_path(sick_hours_event), class: "btn btn-success btn-lg" %>
            <%= link_to 'Delete', sick_hours_event,
                method: :delete, data: { confirm: 'Are you sure?' },
                class: "btn btn-danger btn-lg" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

