<!DOCTYPE html>
<html>
  <head>
    <title>HoursAndBenefits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="mb-5">
    <% if notice.present? %>
      <aside class="alert alert-info">
        <%= notice %>
      </aside>
    <% end %>
    <% if alert.present? %>
      <aside class="alert alert-danger">
        <%= alert %>
      </aside>
    <% end %>
    <%= yield %>
  </body>


  <footer class="container-fluid my-5">
    <p class="font-italic">
      <%= @current_user.email %>
    </p>
  </footer>
</html>
