<!DOCTYPE html>
<html>
  <head>
    <title>HoursAndBenefits</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>

  </head>

  <body>
    <% if notice.present? %>
      <aside class="alert alert-info">
        <%= notice %>
      </aside>
    <% end %>
    <% if alert.present? %>
      <aside class="alert alert-danger">
        <%= alert %>
      </aside>
    <% end %>
    <%= yield %>
  </body>

  <div class="container">
    <br>
    <br>
  </div>

  <footer class="container-fluid">
    <%= link_to 'Home', dashboard_index_path, class: "btn btn-secondary btn-lg btn-block" %>
    <br>
    <br>
    <br>
  </footer>
</html>
